.app-list__list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
    color: white;
    padding: .5rem;

    &_pending {
        background-color: gray;
    }

    &_process {
        background-color: DodgerBlue;
    }

    &_completed {
        background-color: green;
    }
}