.container {
    max-width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    display: flex;
    height: 60%;
    width: 60%;
}