// Задаем базовые стили

// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Lato', Arial, sans-serif;
}

#root {
    height: 100%;
}